body {
  // general
  font-family: $font;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .body {
    @include resp-tablet {
      margin-top: 50px;
    }
  }

  // header
  .navbar {
    text-align: center;
    position: fixed!important;
    bottom: 0!important;
    top: auto!important;
    width: 100%;
    min-height: 50px;

    @include resp-tablet {
      position: sticky;
      bottom: auto!important;
      top: 0!important;
    }

    .logo {
      width: 90px;
      position: absolute;
      top: 0;
    }
  }

  // footer
  footer {
    background: #dedede;
    padding: 40px 0;
  }
}

//loader
.loader {
  display: none;
}