body {
  // general
  font-family: $font;
  color: $darkblue;
  a {
    color: $darkblue;
    &:hover {
      text-decoration: none;
      color: darken($darkblue, 10%);
    }
  }
  h1 {
    margin-top: 40px;

    @include resp-tablet {
      margin-top: 0px;
    }
  }
  h4 {
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
    @include resp-tablet {
      padding-top: 20px;
    }
  }
  .body {
    @include resp-tablet {
      margin-top: 50px;
    }
  }

  .btn.btn-red {
    background: $darkred;
    color: white;

    &:hover {
      background: darken($darkred, 10%);
    }
  }

  .btn.btn-blue {
    background: $darkblue;
    color: white;

    &:hover {
      background: darken($darkblue, 10%);
    }
  }

  // header
  .navbar {
    text-align: center;
    position: fixed!important;
    bottom: 0!important;
    top: auto!important;
    width: 100%;
    min-height: 50px;

    @include resp-tablet {
      position: sticky;
      bottom: auto!important;
      top: 0!important;
    }

    .logo {
      width: 90px;
      position: absolute;
      top: -13px;
      box-shadow: 0 0 10px 3px #64909a;
      border-radius: 99px;
    }
  }
  .burger-icon {
    div {
      height: 4px;
      width: 35px;
      background: $white;
      border-radius: 99px;

      &:nth-child(2) {
        margin: 6px auto;
      }
    }
  }

  // footer
  footer {
    padding: 40px 0;
    margin-top: 50px;
    margin-bottom: 50px;

    @include resp-tablet {
      margin-bottom: 0px;
    }
  }
}

//loader
.loader {
  display: none;
}

.stickybottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hidden-field {
  height: 0;
  overflow: hidden;
}

.error-msg {
  color: $error;
  font-size: 14px;
}

.form-group {
  width: 100%;
}