$white: rgb(255,255,255);
$black: rgb(0,0,0);
$error: rgb(255,0,0);
$yellow: #F9B13B;
$purple: #3F2865;
$purpleBackground: #F5F4F7;
$green: #8DC6B3;
$grey: #1D1D1D;

$font: 'Roboto Condensed', sans-serif;

$breakpoint-largescreen: 1200px;
$breakpoint-desktop: 992px;
$breakpoint-tablet: 768px;
