{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage" class="position-relative">
        <div id="full-width-img">
            <h1><span>SnowTricks,</span>LE lieu de rencontre des passionnés de snowboard&nbsp;!</h1>
            <div class="w-100 text-center">
                <a href="#tricks" class="arrow-down">
                    <i class="fas fa-arrow-down"></i>
                </a>
            </div>
        </div>
        <div class="container text-center mb-5">
            <div class="row tricks" id="tricks">
                {% include 'parts/list-tricks.html.twig' %}
            </div>
            {% if tricks|length is same as(10) %}
            <button type="button" class="btn btn-primary load-btn">Voir +</button>
            <img class="loader" src="{{ asset('images/loader.gif') }}">
            {% endif %}
            <a href="#homepage" class="arrow-up">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
{% endblock %}
