{% extends 'base.html.twig' %}

{% block body %}
    <div id="message">
        <div class="container mt-5">
            {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
