{% extends 'base.html.twig' %}
{% block title %}Oups, il y a une erreur... - SnowTricks{% endblock %}
{% block body %}
    <div class="container">
        <h1>Il y a une erreur...</h1>
        <h2>Vous avez déclenché une erreur {{ status_code }}... Bravo !</h2>
        <p>Voici le message d'erreur: {{ status_text }}.</p>
    </div>
{% endblock %}