.trick-form {
  #mainphoto-title,#photos-title, #videos-title, #errors {
    display: none;
  }

  //image on top
  .content-img {
    .image-icons {
      & .trick-image-edit, & .trick-image-delete {
        display: none;
      }
    }

    label {
      margin-bottom: 10px;
    }

    input {
      width: 95%;
      max-width: 400px;
      margin: auto;
    }
  }


  i {
    color: $blue !important;
  }


  .input-video {
    max-width: 400px;
    margin: auto;

    &-error {
      position: relative;
      top: 5px;
    }
  }

  #media {
    .trick-image-delete {
      background: none;
      border: none;
      padding: 0;
    }

    &-images, &-videos {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .image {
    &:hover .mainimg-btn {
      display: block;
    }

    .mainimg-btn {
      background: #fffc;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px;
      cursor: pointer;
      display: none;
    }

    &-icons {
      cursor: pointer;
    }
  }

  .generated.main {
    margin: auto!important;
  }

  label {
    margin-bottom: 10px;
  }

}

