{% extends 'base.html.twig' %}

{% block body %}
    <div id="forgotten_password">
        <div class="container">
            <form method="post">
                <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>
                <p>Veuillez entrer votre email, un message vous sera envoyé s'il est lié à un compte.</p>
                <label for="inputUsername">Email</label>
                <input type="text" name="email" class="form-control" required autofocus>

                <button class="btn btn-lg btn-primary" type="submit">
                    Envoyer
                </button>
            </form>
        </div>
    </div>
{% endblock %}
