{% extends 'base.html.twig' %}

{% block body %}
    <div class="other-forms" id="reset_password">
        <h1 class="h3 mb-4">Réinitialisation du mot de passe</h1>
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.password) }}
            <button class="btn btn-red" type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
