<div class="modal fade deleteModal" id="deleteModal{{ trick.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Êtes-vous bien sûr de vouloir supprimer cette figure&nbsp;?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non...</button>
                <form action="{{ path('delete_trick', {id: trick.id}) }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~ trick.id) }}">
                    <button type="submit" class="btn btn-success" id="trick-image-delete">Oui !</button>
                </form>
            </div>
        </div>
    </div>
</div>